/*Sass

Last updated: 29/09/2020
*/

* {
    padding: 0;
    margin: 0;
}

body {

    background: lightblue;
}

header {
    background: lightgray;
    height: 75px;
    h1 {
        text-align: center;
    }
}

#container {
    display: block;
    margin: 0 auto;
    width: 300px;

    h2 {
        text-align: center;
    }

    p {
        line-height: 1.4;
        margin-bottom: 10px;
    }

}

footer {
    p {
        text-align: center;
    }
}
