/*Sass

Last updated: 19/07/2021
*/

* {
    padding: 0;
    margin: 0;
}

body {

    background: lightblue;
    font-family: verdana;
}

header {
    background: black;
    border-bottom: white 3px solid;
    color: white;
    height: 72px;
    height: auto;

    h1 {
        text-align: center;
    }

    img {
        width: 75px;
        display: block;
        margin: 10px auto;
    }
}


h2 {
    text-align: center;
    padding-top: 15px;
    height: 50px;
}

#container {
    display: block;
    margin: 0 auto;
    width: 400px;
    font-size: 13px;

    p {
        line-height: 1.9;
        margin-bottom: 10px;
    }

    p:first-child {
        font-weight: bold; 
        line-height: 2.4;
        margin-top: 10px;
    }

    ul {       

        li {
            left: 30px;
            position: relative;
            line-height: 1.9;
        }
    }

}

footer {
    p {
        text-align: center;
        font-size: 10px;
        margin-top: 10px;
        font-weight: bold;

        a {

            color: red;
            
            &:hover {
                text-decoration: none;
            }
        }
    }
}
